.gradle
build/
out/
/*/build
/mysite_common/build
/mysite_web/build


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Java template
*.class

# Intellij #
.idea/
*.iml
*.iws
classes/


